.services-1>h1{
  display: flex;
  justify-content: center;
 color:goldenrod;
 margin: 5px;
}
.services{
 position: relative;
 bottom:10px;
 padding: 10px;
}
.services-2{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5px;
}
.services-card{
border: 2px solid black;
background-color: blueviolet;
color: black;
width:20%;
height: 2%;
margin: 5px;
text-align: center;
padding: 10px;
}
.services-card>p{
  margin-top:1px;
}
.services-card>img{
   width:100%;
}
.services-card>button{
  padding:10px;
  background-color:black;
  border: none;
  color: white;
  position: relative;
  top: 10px;
}
.services-card>h3{
  color:red;
}
.services-card:hover{
  background-color:rgb(175, 128, 8);
  color: black;
}

@media screen and (max-width:500px)
{
  .services-2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .services-card>img{
   width:100%;
  }
  .services-card>button{
    display: none;
  }
  .services-card{
    padding: 10px;
    height: 2%;
    flex-basis:38%;
    justify-content: center;
    }
    .services-card>p{
      font-size:10px;
    }
    #kol>img{
   width: 100%;
   height:112px;
    }
  }
  @media screen and (min-width:1000px)
{
  #lol>img{
    height: 118px;
  }
  .contact-container{
    margin: 5px;
  }
  #cool>img{
    height: 120px;
  }
}
@media screen and (min-width:1200px)
{
  #lol>img{
    height: 140px;
  }
  #cool>img{
    height: 160px;
  }
}


