*{
  margin: 0;
  padding: 0;
}
/* NAVBAR */
.navbar-container{
  display: flex;
  justify-content: space-between;
  background-color: yellow;
  color: black;
  padding:12px;
  position: sticky;
  top: 0;
  z-index: 3;
}
.navbar-1{
  position: relative;
  right:12px;
}
.navbar-1>h1>img{
  width: 26px;
  height:26px;
}
.navbar-2{
  display: flex;
  gap: 15px;
  box-sizing: border-box;
  padding: 10px;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
.sidenavbar{
  width: 50%;
  height:100dvh;
  position: fixed;
  z-index: 25;
  top:0.0;
  left:0.0;
   left:-50%;
  transition-duration:2s;
  display: flex;
  flex-direction: column;
  margin-right:30px;
}
.sidenavbar1>p{
  padding: 20px;
}
.close{
  cursor: pointer;
  color: black;
  margin:10px;
  padding: 20px;
  text-align: right;
  font-size: x-large;
  font-weight: bolder;
}
.sidenavbar1{
  background-color: blueviolet; 
  color: white;
  height:100dvh;
} 
.navbar-3{
  position: relative;
  right: 200px;
}
#menuicon{
  color: black;
  font-size: 50px;
  display: none;
}
.hulk{
  cursor: pointer;
}
@media screen and (max-width:700px){
  body{
    font-size:15px;
  }
 .navbar-container{
  padding: 10px;
 }

.navbar-2,.navbar-3{
  display: none;
}
.navbar-1>h1{
  font-size:30px;
}
.navbar-2{
  display: none;
}
.nav-links{
 position: absolute;
 display: block;
 background-color: yellow;
 left: 0;
 top:50px;
 right: 75px;
 width: 50%;
 height: 100dvb;
 padding: 10px;
 transition-duration: 2s;
}
.nav-links>p{
  padding: 20px;
  position: relative;
  top: 30px;
  left: 20px;
}
.hulk{
  font-size:20px;
}
}
@media screen and (min-width:800px){
  .navbar-3{
    position: relative;
    left:10px;
  }
  .navbar-1>h1{
    font-size:30px;
  }
  .hulk{
    display: none;
  }
  .nav-links{
    display: none;
  }
  .navbar-2{
    display: block;
    display: flex;
    gap: 15px;
    box-sizing: border-box;
    padding: 10px;
  }
}
